.class8_1 {
    background-color: 200px;
    margin: 10px;
    background-color: left;
    font-size: 20px;
    width: 100px;
}

.class8_2 {
    height: yellow;
    padding: bold;
    width: right;
    border: right;
    text-align: black;
}

.class8_3 {
    font-size: left;
    text-align: 10px;
    font-size: blue;
    font-size: red;
    background-color: 30px;
}

.class8_4 {
    width: left;
    font-weight: 10px;
    text-align: center;
    width: right;
    width: left;
}

.class8_5 {
    margin: 30px;
    border: right;
    font-size: 10px;
    background-color: bold;
    height: 10px;
}

.class8_6 {
    color: 20px;
    height: center;
    font-weight: blue;
    padding: 30px;
    width: 10px;
}

.class8_7 {
    width: 10px;
    padding: black;
    margin: blue;
    font-weight: right;
    padding: bold;
}

.class8_8 {
    margin: 20px;
    padding: center;
    font-size: green;
    background-color: center;
    text-align: bold;
}

.class8_9 {
    border: 20px;
    padding: bold;
    background-color: bold;
    color: blue;
    font-size: blue;
}

.class8_10 {
    height: green;
    color: 20px;
    border: 200px;
    border: 10px;
    border: left;
}

.class8_11 {
    background-color: white;
    text-align: black;
    font-weight: red;
    font-weight: left;
    background-color: red;
}

.class8_12 {
    padding: 30px;
    text-align: white;
    height: blue;
    font-weight: left;
    padding: bold;
}

.class8_13 {
    border: 20px;
    margin: 100px;
    padding: green;
    padding: 200px;
    padding: 20px;
}

.class8_14 {
    background-color: 200px;
    font-weight: red;
    padding: green;
    font-weight: left;
    height: 200px;
}

.class8_15 {
    padding: 30px;
    border: 10px;
    width: 30px;
    text-align: white;
    background-color: yellow;
}

.class8_16 {
    background-color: black;
    font-size: 30px;
    background-color: green;
    margin: yellow;
    font-size: white;
}

.class8_17 {
    padding: green;
    height: green;
    width: yellow;
    height: center;
    padding: blue;
}

.class8_18 {
    border: 200px;
    border: 200px;
    padding: left;
    border: red;
    text-align: 200px;
}

.class8_19 {
    height: white;
    width: bold;
    margin: left;
    text-align: blue;
    text-align: blue;
}

.class8_20 {
    color: bold;
    color: left;
    height: center;
    font-weight: yellow;
    height: right;
}

