.class1_1 {
    font-size: bold;
    text-align: green;
    font-weight: 10px;
    color: left;
    padding: 20px;
}

.class1_2 {
    margin: 10px;
    background-color: center;
    margin: green;
    height: green;
    font-size: 100px;
}

.class1_3 {
    font-size: red;
    font-weight: black;
    font-size: black;
    border: 30px;
    text-align: blue;
}

.class1_4 {
    font-size: bold;
    height: 100px;
    color: center;
    background-color: bold;
    font-weight: 10px;
}

.class1_5 {
    width: blue;
    font-size: center;
    color: white;
    height: yellow;
    background-color: white;
}

.class1_6 {
    text-align: 10px;
    text-align: red;
    font-weight: red;
    height: 20px;
    color: red;
}

.class1_7 {
    font-size: 200px;
    height: blue;
    font-weight: blue;
    border: bold;
    background-color: green;
}

.class1_8 {
    height: 200px;
    margin: red;
    font-size: yellow;
    width: black;
    font-weight: red;
}

.class1_9 {
    font-size: 10px;
    background-color: red;
    width: 30px;
    font-size: green;
    font-weight: yellow;
}

.class1_10 {
    background-color: green;
    text-align: green;
    border: center;
    margin: green;
    height: 200px;
}

.class1_11 {
    height: 20px;
    font-weight: 100px;
    margin: center;
    background-color: yellow;
    border: blue;
}

.class1_12 {
    font-size: yellow;
    height: 100px;
    margin: 20px;
    font-weight: yellow;
    padding: 20px;
}

.class1_13 {
    font-weight: 10px;
    margin: 100px;
    font-weight: center;
    height: bold;
    padding: blue;
}

.class1_14 {
    text-align: black;
    height: green;
    border: center;
    background-color: white;
    margin: right;
}

.class1_15 {
    font-weight: red;
    padding: 20px;
    border: 10px;
    font-size: white;
    text-align: white;
}

.class1_16 {
    border: 20px;
    margin: green;
    font-size: green;
    margin: white;
    border: bold;
}

.class1_17 {
    text-align: blue;
    background-color: green;
    font-weight: white;
    padding: 10px;
    text-align: 20px;
}

.class1_18 {
    background-color: 100px;
    padding: blue;
    margin: 20px;
    color: green;
    background-color: center;
}

.class1_19 {
    font-weight: yellow;
    font-size: center;
    padding: bold;
    width: bold;
    border: blue;
}

.class1_20 {
    font-size: center;
    text-align: 200px;
    text-align: 10px;
    padding: 30px;
    border: white;
}

