.class10_1 {
    font-size: green;
    font-weight: white;
    text-align: 30px;
    font-weight: left;
    font-weight: center;
}

.class10_2 {
    font-weight: green;
    margin: 200px;
    text-align: 30px;
    border: green;
    font-size: 100px;
}

.class10_3 {
    font-weight: 100px;
    border: white;
    padding: white;
    border: left;
    color: blue;
}

.class10_4 {
    color: 20px;
    font-size: right;
    color: 20px;
    margin: white;
    border: 20px;
}

.class10_5 {
    font-size: black;
    height: 10px;
    background-color: red;
    padding: blue;
    padding: right;
}

.class10_6 {
    font-size: red;
    font-size: yellow;
    padding: black;
    height: blue;
    background-color: 100px;
}

.class10_7 {
    padding: yellow;
    height: center;
    font-weight: 10px;
    margin: black;
    padding: 200px;
}

.class10_8 {
    padding: 200px;
    font-weight: 10px;
    text-align: 200px;
    font-size: 20px;
    text-align: red;
}

.class10_9 {
    border: green;
    padding: 20px;
    height: blue;
    background-color: bold;
    color: yellow;
}

.class10_10 {
    margin: 100px;
    color: yellow;
    border: 200px;
    background-color: white;
    color: blue;
}

.class10_11 {
    color: center;
    text-align: 100px;
    font-weight: 20px;
    font-weight: blue;
    background-color: 30px;
}

.class10_12 {
    color: 10px;
    font-size: black;
    width: green;
    padding: 200px;
    font-weight: center;
}

.class10_13 {
    color: 20px;
    font-weight: white;
    font-weight: white;
    font-size: center;
    height: black;
}

.class10_14 {
    width: white;
    font-weight: 200px;
    text-align: left;
    border: 10px;
    height: 100px;
}

.class10_15 {
    font-size: blue;
    width: 10px;
    padding: 20px;
    width: red;
    text-align: yellow;
}

.class10_16 {
    border: 100px;
    height: left;
    font-size: 10px;
    width: 200px;
    color: white;
}

.class10_17 {
    width: bold;
    height: 100px;
    color: bold;
    width: 30px;
    background-color: right;
}

.class10_18 {
    margin: white;
    border: bold;
    width: 200px;
    color: 10px;
    font-size: bold;
}

.class10_19 {
    background-color: 200px;
    text-align: 20px;
    border: left;
    margin: yellow;
    border: right;
}

.class10_20 {
    padding: bold;
    font-weight: yellow;
    margin: white;
    font-weight: 10px;
    background-color: yellow;
}

