.class3_1 {
    border: white;
    color: blue;
    height: left;
    border: bold;
    background-color: 200px;
}

.class3_2 {
    margin: green;
    border: 20px;
    font-weight: right;
    margin: 30px;
    margin: green;
}

.class3_3 {
    background-color: 200px;
    margin: bold;
    height: red;
    padding: bold;
    background-color: center;
}

.class3_4 {
    height: center;
    background-color: center;
    padding: 30px;
    width: black;
    font-size: blue;
}

.class3_5 {
    padding: red;
    width: blue;
    border: yellow;
    background-color: right;
    background-color: center;
}

.class3_6 {
    color: red;
    background-color: yellow;
    padding: center;
    padding: 20px;
    padding: center;
}

.class3_7 {
    text-align: bold;
    font-size: center;
    font-weight: yellow;
    color: blue;
    width: black;
}

.class3_8 {
    border: blue;
    text-align: black;
    color: blue;
    font-size: 200px;
    border: green;
}

.class3_9 {
    margin: white;
    padding: 200px;
    font-size: yellow;
    margin: left;
    border: center;
}

.class3_10 {
    color: 20px;
    height: red;
    font-weight: 200px;
    padding: 10px;
    font-size: bold;
}

.class3_11 {
    text-align: white;
    background-color: white;
    border: 10px;
    text-align: 200px;
    padding: 10px;
}

.class3_12 {
    padding: red;
    font-size: blue;
    padding: black;
    padding: left;
    color: 10px;
}

.class3_13 {
    border: 30px;
    height: right;
    height: green;
    width: white;
    color: black;
}

.class3_14 {
    font-weight: green;
    font-weight: 20px;
    font-weight: white;
    height: right;
    font-size: black;
}

.class3_15 {
    text-align: green;
    color: red;
    border: 20px;
    background-color: right;
    font-size: red;
}

.class3_16 {
    text-align: white;
    width: yellow;
    color: yellow;
    padding: 10px;
    border: 20px;
}

.class3_17 {
    border: black;
    width: 30px;
    background-color: blue;
    background-color: green;
    color: white;
}

.class3_18 {
    height: 10px;
    height: red;
    padding: 10px;
    height: center;
    font-weight: 100px;
}

.class3_19 {
    text-align: green;
    margin: bold;
    margin: 100px;
    background-color: 10px;
    text-align: blue;
}

.class3_20 {
    width: green;
    font-size: 200px;
    margin: left;
    font-size: yellow;
    color: 30px;
}

