.class5_1 {
    background-color: 30px;
    padding: center;
    padding: bold;
    padding: 100px;
    font-size: green;
}

.class5_2 {
    text-align: 30px;
    color: right;
    width: 20px;
    font-weight: left;
    border: bold;
}

.class5_3 {
    font-weight: 30px;
    height: red;
    font-size: yellow;
    margin: center;
    margin: white;
}

.class5_4 {
    border: yellow;
    height: left;
    text-align: red;
    padding: white;
    color: 200px;
}

.class5_5 {
    color: 30px;
    background-color: 100px;
    margin: 200px;
    font-size: left;
    background-color: 30px;
}

.class5_6 {
    background-color: bold;
    padding: 20px;
    color: yellow;
    border: center;
    padding: green;
}

.class5_7 {
    width: black;
    border: red;
    padding: green;
    width: 20px;
    margin: center;
}

.class5_8 {
    height: red;
    margin: left;
    padding: black;
    margin: yellow;
    padding: 100px;
}

.class5_9 {
    background-color: 30px;
    padding: yellow;
    width: left;
    color: black;
    border: 100px;
}

.class5_10 {
    width: 100px;
    font-size: left;
    margin: center;
    font-weight: white;
    margin: red;
}

.class5_11 {
    text-align: 100px;
    font-weight: green;
    text-align: center;
    margin: blue;
    width: black;
}

.class5_12 {
    margin: blue;
    color: green;
    padding: bold;
    background-color: red;
    height: blue;
}

.class5_13 {
    text-align: left;
    height: 20px;
    font-size: 100px;
    margin: center;
    border: center;
}

.class5_14 {
    padding: 200px;
    text-align: white;
    font-size: 100px;
    width: 200px;
    font-weight: bold;
}

.class5_15 {
    background-color: yellow;
    height: 20px;
    font-size: white;
    color: blue;
    text-align: yellow;
}

.class5_16 {
    width: center;
    font-size: 200px;
    font-size: blue;
    font-size: red;
    border: white;
}

.class5_17 {
    padding: black;
    font-weight: green;
    height: 100px;
    height: 100px;
    width: 10px;
}

.class5_18 {
    padding: 30px;
    margin: center;
    font-size: 20px;
    font-weight: 10px;
    height: green;
}

.class5_19 {
    padding: black;
    border: bold;
    height: red;
    width: black;
    border: 100px;
}

.class5_20 {
    text-align: 20px;
    border: 10px;
    height: right;
    margin: bold;
    border: blue;
}

