.class4_1 {
    background-color: 200px;
    background-color: yellow;
    padding: 30px;
    padding: green;
    background-color: right;
}

.class4_2 {
    text-align: 20px;
    color: 100px;
    font-weight: 200px;
    color: white;
    text-align: 10px;
}

.class4_3 {
    width: green;
    color: red;
    background-color: white;
    font-size: bold;
    background-color: 100px;
}

.class4_4 {
    padding: green;
    color: red;
    height: center;
    font-weight: red;
    width: left;
}

.class4_5 {
    border: 30px;
    font-size: green;
    color: 10px;
    margin: 200px;
    padding: 30px;
}

.class4_6 {
    height: 10px;
    width: yellow;
    background-color: white;
    border: center;
    border: 200px;
}

.class4_7 {
    font-size: 30px;
    padding: yellow;
    text-align: 30px;
    border: black;
    padding: black;
}

.class4_8 {
    text-align: 10px;
    margin: 100px;
    font-size: right;
    background-color: center;
    height: bold;
}

.class4_9 {
    height: yellow;
    color: bold;
    margin: 200px;
    padding: red;
    padding: yellow;
}

.class4_10 {
    font-size: green;
    padding: black;
    text-align: 20px;
    text-align: blue;
    height: blue;
}

.class4_11 {
    padding: left;
    text-align: right;
    color: left;
    font-size: 100px;
    width: black;
}

.class4_12 {
    margin: red;
    height: right;
    height: red;
    color: 10px;
    margin: blue;
}

.class4_13 {
    text-align: bold;
    text-align: right;
    padding: left;
    padding: 200px;
    padding: 20px;
}

.class4_14 {
    background-color: red;
    font-weight: green;
    padding: right;
    border: black;
    font-weight: white;
}

.class4_15 {
    text-align: 100px;
    padding: left;
    border: 200px;
    font-weight: center;
    font-weight: 30px;
}

.class4_16 {
    font-size: right;
    border: center;
    margin: 20px;
    padding: right;
    padding: 20px;
}

.class4_17 {
    background-color: black;
    color: 30px;
    padding: 100px;
    width: 30px;
    background-color: 10px;
}

.class4_18 {
    margin: 100px;
    font-size: 100px;
    margin: yellow;
    color: center;
    height: center;
}

.class4_19 {
    font-size: 30px;
    padding: bold;
    color: bold;
    width: white;
    background-color: white;
}

.class4_20 {
    font-size: blue;
    padding: center;
    font-weight: red;
    font-size: green;
    height: black;
}

