.class2_1 {
    text-align: red;
    padding: 100px;
    color: left;
    border: yellow;
    height: blue;
}

.class2_2 {
    text-align: center;
    text-align: blue;
    text-align: red;
    color: bold;
    border: blue;
}

.class2_3 {
    border: right;
    font-weight: center;
    margin: 30px;
    padding: 10px;
    padding: center;
}

.class2_4 {
    height: blue;
    font-size: right;
    color: 100px;
    border: blue;
    background-color: yellow;
}

.class2_5 {
    margin: white;
    padding: 200px;
    font-weight: 100px;
    text-align: 10px;
    width: center;
}

.class2_6 {
    width: left;
    border: yellow;
    margin: red;
    width: 20px;
    background-color: yellow;
}

.class2_7 {
    margin: white;
    font-weight: blue;
    font-weight: 200px;
    padding: bold;
    color: 10px;
}

.class2_8 {
    border: 100px;
    border: 10px;
    width: left;
    color: blue;
    border: 200px;
}

.class2_9 {
    text-align: white;
    padding: left;
    margin: green;
    margin: black;
    border: blue;
}

.class2_10 {
    padding: white;
    text-align: 10px;
    padding: center;
    width: 100px;
    font-weight: white;
}

.class2_11 {
    border: white;
    font-weight: green;
    padding: blue;
    width: 20px;
    background-color: red;
}

.class2_12 {
    background-color: white;
    margin: white;
    color: 200px;
    font-weight: blue;
    text-align: white;
}

.class2_13 {
    margin: 30px;
    margin: red;
    font-size: 10px;
    font-size: center;
    width: yellow;
}

.class2_14 {
    font-weight: white;
    height: left;
    width: 20px;
    margin: 100px;
    font-size: left;
}

.class2_15 {
    background-color: 10px;
    background-color: right;
    border: green;
    padding: 20px;
    width: 10px;
}

.class2_16 {
    text-align: left;
    font-weight: yellow;
    height: 20px;
    text-align: center;
    border: left;
}

.class2_17 {
    height: 20px;
    color: 200px;
    width: 20px;
    height: white;
    text-align: 30px;
}

.class2_18 {
    width: 100px;
    background-color: blue;
    border: black;
    height: 10px;
    padding: green;
}

.class2_19 {
    text-align: black;
    margin: bold;
    text-align: white;
    padding: red;
    padding: 100px;
}

.class2_20 {
    border: blue;
    width: 10px;
    background-color: yellow;
    font-size: 20px;
    font-size: 200px;
}

