.class7_1 {
    border: red;
    font-size: left;
    background-color: yellow;
    width: green;
    text-align: red;
}

.class7_2 {
    background-color: 100px;
    border: green;
    height: center;
    margin: yellow;
    font-size: 30px;
}

.class7_3 {
    padding: right;
    font-size: 100px;
    text-align: 30px;
    background-color: yellow;
    color: 100px;
}

.class7_4 {
    border: right;
    background-color: center;
    margin: white;
    width: 30px;
    font-size: yellow;
}

.class7_5 {
    width: 100px;
    padding: 10px;
    font-weight: 20px;
    font-size: white;
    padding: 100px;
}

.class7_6 {
    text-align: black;
    width: right;
    font-weight: 30px;
    height: 20px;
    font-size: white;
}

.class7_7 {
    height: 10px;
    border: bold;
    border: bold;
    background-color: yellow;
    text-align: black;
}

.class7_8 {
    width: left;
    background-color: 100px;
    color: white;
    font-size: 10px;
    font-weight: yellow;
}

.class7_9 {
    text-align: 100px;
    width: green;
    font-size: center;
    margin: 30px;
    font-weight: yellow;
}

.class7_10 {
    height: bold;
    background-color: black;
    text-align: 100px;
    width: left;
    color: blue;
}

.class7_11 {
    height: blue;
    font-size: left;
    font-size: right;
    border: bold;
    width: right;
}

.class7_12 {
    border: 20px;
    height: left;
    text-align: green;
    padding: center;
    text-align: right;
}

.class7_13 {
    margin: bold;
    background-color: 10px;
    font-weight: yellow;
    padding: 20px;
    width: 100px;
}

.class7_14 {
    text-align: 20px;
    color: black;
    padding: white;
    border: 10px;
    text-align: black;
}

.class7_15 {
    padding: center;
    border: right;
    font-weight: bold;
    color: 200px;
    margin: white;
}

.class7_16 {
    width: black;
    margin: left;
    background-color: 10px;
    width: 30px;
    color: right;
}

.class7_17 {
    background-color: 30px;
    color: center;
    font-weight: black;
    background-color: 100px;
    margin: yellow;
}

.class7_18 {
    font-size: right;
    color: blue;
    text-align: blue;
    font-weight: bold;
    width: black;
}

.class7_19 {
    font-size: 10px;
    width: 20px;
    background-color: red;
    font-size: 20px;
    height: black;
}

.class7_20 {
    padding: 30px;
    border: red;
    border: 30px;
    height: yellow;
    width: center;
}

